@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- general site setup --- */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #000;
  color: #fff;
}

/* --- NProgress bar custom style --- */
#nprogress .bar {
  background: #00ffff !important;       /* electric cyan */
  height: 3px !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #00ffff, 0 0 5px #00ffff !important;
}
#nprogress .spinner {
  display: none !important;
}